# Autor: Daniel Benjamin Perez Morales
# GitHub: https://github.com/D4nitrix13
# Correo electrónico: danielperezdev@proton.me

# Notas sobre los Ficheros Generados por Draw.io

# `.bkp`: Este tipo de fichero representa una copia de seguridad (backup) del diagrama. Se utiliza para restaurar el estado anterior del fichero en caso de que se necesite recuperar información perdida o revertir cambios no deseados.

# `.dtmp`: Este fichero es un fichero temporal creado por Draw.io durante el proceso de edición. Su propósito es almacenar información provisional mientras trabajas en el diagrama. Normalmente, estos ficheros se eliminan automáticamente al cerrar la aplicación, pero pueden ser útiles en caso de un cierre inesperado o error.

*.bkp
*.dtmp
